<section class="cart-show">

  <% if cart_subtotal_cents == 0 %>
    <div class="alert alert-danger" role="alert">
      Your cart is empty. Here is a link to the homepage <%= link_to 'Home', :root %> 
    </div>
  <% else %>
    <%= render 'cart_nonempty' %>
  <% end %>

</section>
